@import 'navbar';
@import 'contact';


@font-face {
	font-family: bellerose;
	src: url(../fonts/Bellerose.ttf);
}
@font-face{
	font-family: sb;
	src: url(../fonts/Sketch_Block.ttf);
}

body{
	margin: 0;
}

.tuxpic{
	position:fixed;
	top:20px;
	right: 0;
	z-index: -10;
	/*float: right;*/
	height: 650px;
	

}

.tuxpic img{
	display: block;
	height: 100%;

}

.welcome{
	position: absolute;
	top: 75px;
	left: 100px;
}

.sl{
	font-family: bellerose;
	font-size: 7vw;
	/*margin-top: 6vw;*/
}

.message{
	position: absolute;
	right: 0px;
	/*margin-top: 0px;*/
	width: 400px;
	margin-top: -100px;
}
.hello{
	text-align: right;
	color: #555;
	font-size: 5vw;
	font-family: 'Amatic SC', cursive;
}

.bar {
	margin-top: 670px;
	clear: both;
	height: 60px;
	background: black;
}
.bar2{
	height: 60px;
	background: black;
}

.bar3{
	height: 60px;
	background: black;
}

.content {
	background: white;
	text-align: center;

}

.p1{
	border:solid black 3px;
	font-size: 3vw;  
	text-align: center;
	display: inline-block;
	width: 30%;
	height: 24vw;
	vertical-align: middle;
	margin: 30px;
	font-family:'Amatic SC', cursive;
	font-weight: bold;
	border-radius: 25px;
	box-shadow: 5px 5px 5px;
}

.p1 div {
	position: relative;
  	top: 50%;
 	transform: translateY(-50%);
}


.prj1, .prj2, .prj3, .prj4 {
	height: 400px;
	width: 400px;
	border-radius: 20px;
	border: solid black 2px;
}

.gh{
	font-family: bellerose;
	font-size: 5vw;
	font-weight: bold;
	text-decoration: underline;
}

.github{
	display: block;
	width: 40%;
	margin-left: 100px;
	text-align: center;
}

@import 'mediaq';