.navbar {
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  z-index: 10; }

.nav {
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-weight: bold; }

.nav li {
  display: inline-block;
  width: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 2.7vw;
  /*float: right;*/
  position: relative;
  top: 50%;
  transform: translateY(-30%); }

.nav a {
  color: white;
  /*padding:20px;*/
  text-decoration: none; }

.nav a:hover {
  background-color: #555;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 5px;
  padding: 5px; }

.face {
  padding-top: 5px; }

.face:hover {
  animation: spin 4s linear infinite; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }
.contact {
  background: white;
  text-align: center; }

.contact-header {
  margin-top: 0px;
  font-family: sb;
  font-weight: normal;
  font-size: 10vw;
  margin-bottom: 10px; }

.mail {
  font-family: 'Amatic SC', cursive;
  font-size: 3vw; }

.contact-image {
  height: 200px;
  width: 200px; }

.contact a {
  text-decoration: none;
  color: black; }

.contact a:hover {
  color: #555; }

.fa {
  font-size: 10vw;
  margin-bottom: 30px; }

@font-face {
  font-family: bellerose;
  src: url(../fonts/Bellerose.ttf); }
@font-face {
  font-family: sb;
  src: url(../fonts/Sketch_Block.ttf); }
body {
  margin: 0; }

.tuxpic {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: -10;
  /*float: right;*/
  height: 650px; }

.tuxpic img {
  display: block;
  height: 100%; }

.welcome {
  position: absolute;
  top: 75px;
  left: 100px; }

.sl {
  font-family: bellerose;
  font-size: 7vw;
  margin-bottom: 0;
  /*margin-top: 6vw;*/ }

.message {
  position: absolute;
  right: 0px;
  width: 400px; }

.hello {
  text-align: right;
  color: #555;
  font-size: 5vw;
  font-family: 'Amatic SC', cursive;
  margin-top: 0px; }

.bar {
  margin-top: 670px;
  clear: both;
  height: 70px;
  background: black; }

.bar2 {
  height: 70px;
  background: black; }

.bar3 {
  height: 70px;
  background: black;
  margin-bottom: 100px; }

.content {
  background: white;
  text-align: center; }

.experience {
  font-family: bellerose;
  font-size: 5vw;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 55px;
  margin-top: 0; }

.p1 {
  font-size: 2vw;
  text-align: center;
  display: inline-block;
  width: 65%;
  height: 50vw;
  vertical-align: middle;
  margin-top: 0;
  font-family: 'Halant', serif;
  font-weight: bold; }

.p1 div {
  position: relative;
  top: 40%;
  transform: translateY(-50%); }

.p2 {
  border: solid black 3px;
  font-size: 3.0vw;
  text-align: center;
  display: inline-block;
  width: 55%;
  height: 28vw;
  vertical-align: middle;
  margin: 30px;
  font-family: 'Halant', serif;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 5px 5px 5px; }

.p2 div {
  position: relative;
  top: 30%;
  transform: translateY(-50%); }

.p2:hover {
  box-shadow: 10px 10px 10px 10px; }

.prj1, .prj2, .prj3, .prj4 {
  height: 400px;
  width: 400px;
  border-radius: 20px;
  border: solid black 2px; }

.prj-explain {
  font-size: 3vw;
  font-family: 'Halant', serif;
  font-weight: bold;
  margin-bottom: 0; }

.gh {
  font-family: bellerose;
  font-size: 5vw;
  font-weight: bold;
  text-decoration: underline;
  color: black; }

.github {
  display: block;
  width: 40%;
  margin-left: 100px;
  margin-bottom: 50px;
  text-align: center; }

.gh a {
  text-decoration: none;
  color: black; }

@media (min-width: 1620px) {
  .sl {
    font-family: bellerose;
    font-size: 6vw;
    margin-top: -90px; }

  .message {
    position: absolute;
    right: 0px;
    margin-top: -100;
    text-align: center; }

  .hello {
    text-align: right;
    color: #555;
    margin-top: -10px;
    margin-left: 50px; }

  .nav li {
    display: inline-block;
    width: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 2.5vw;
    /*float: right;*/
    position: relative;
    top: 50%;
    transform: translateY(-20%); }

  .github {
    display: block;
    width: 40%;
    margin-left: 300px;
    text-align: center; } }
@media (max-width: 700px) {
  .tuxpic {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: -10;
    height: 650px;
    overflow: hidden; }

  .tuxpic img {
    position: absolute;
    left: -40px;
    display: block;
    height: 100%;
    opacity: .3; }

  .welcome {
    position: absolute;
    top: 75px;
    left: 50px; }

  .sl {
    font-family: bellerose;
    font-size: 13vw;
    margin-top: 150px; }

  .message {
    position: absolute;
    right: 0px;
    text-align: center; }

  .hello {
    text-align: right;
    color: #555;
    font-size: 9vw;
    margin-top: 0px;
    margin-left: 50px; }

  .nav li {
    display: inline-block;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 6vw;
    /*float: right;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

  .gh {
    font-size: 8vw; }

  .github {
    width: 100%;
    margin: 0;
    padding: 0; }

  .prj1, .prj2, .prj3, .prj4 {
    width: 95%; }

  .prj-explain {
    font-size: 6vw;
    font-weight: bold;
    margin-bottom: 0; }

  .navbar {
    background: black;
    position: fixed;
    top: 0;
    z-index: 10; }

  .nav {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-weight: bold; }

  .content {
    width: 100%;
    margin: 0 auto; }

  .experience {
    font-size: 8vw; }

  .p1 {
    width: 80%;
    display: block;
    font-size: 6vw;
    height: 360vw;
    margin: 100px auto; }

  .p2 {
    height: 50vw;
    font-size: 4.5vw; }

  .p2 div {
    position: relative;
    top: 40%;
    transform: translateY(-50%); }

  .p1 div {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

  .mail {
    font-size: 7vw; }

  .bar {
    margin-top: 670px;
    clear: both;
    height: 70px;
    background: black;
    width: 100%; }

  .bar2 {
    height: 70px;
    background: black;
    width: 100%; }

  .bar3 {
    height: 70px;
    background: black;
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
